{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.form-control {
		margin-bottom: 20px;
	}
</style>
<div class="content">
	<div class="row">
		<div class="col-sm-12">
			<form action="" method="POST">{% csrf_token %}
				<div class="panel panel-flat">
					<div class="panel-body">
						{% for edit_values in edit_value %}
						<div class="form-group">
							<label class="col-sm-3 control-label">Company Name<span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="hidden" name="client_id" id="client_id" value="{{ edit_values.id }}">
								<input type="text" class="form-control" name="client_company_name"
									id="client_company_name" placeholder="Company Name"
									value='{{ edit_values.client_company_name }}' required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Pancard No.<span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="pan_no" id="pan_no"
									value='{{ edit_values.pan_no }}' placeholder="Pancard No." required>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Company Registration No.<span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="registration_no" maxlength='16'
									value='{{ edit_values.registration_no }}' id="registration_no"
									placeholder="Company Registration No." required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">GST No.<span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="gst_no" id="gst_no"
									value='{{ edit_values.gst_no }}' placeholder="GST No." required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Address</label>
							<div class="col-sm-8">
								<textarea name="address" value='{{ edit_values.address }}' id="address"
									class="form-control" required>{{ edit_values.address }}</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Country</label>
							<div class="col-sm-8" style="padding: 10px;">
								<select class="form-control select" id="country" name="country">
									<option value="">Select country</option>
									<option value="1" {% if '1' == edit_values.country %} selected {% endif %}>India
									</option>
									<option value="0" {% if '0' == edit_values.country %} selected {% endif %}>Others
									</option>
								</select>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" style="padding:10px">State<span
									class="text-danger">*</span></label>
							<div class="col-sm-8" style="padding:10px" id="indiastate">
								<select class="form-control select stateselect" id="state" name="state">
									<option value="">Select state</option>
									{% for States in statess %}
									<option {% if 'edit_values.state' == States.id %} selected {% endif %}
										value="{{ States.id }}">{{ States.name }}</option>
									{% endfor %}
								</select>
							</div>

						</div>


						<!-- <div class="form-group">
						<label class="col-sm-3 control-label">State</label>
						<div class="col-sm-8" style="padding: 10px;" id="indiastate">
							<select class="form-control select stateselect" id="state" name="state">
								<option value="">Select state</option>
								<?php foreach ($states as $state) { ?>
									<option <?php if (!empty($client[0]['state'])) if ($client[0]['state'] == $state['id']) echo 'selected'; ?> value="<?php echo $state['id']; ?>"><?php echo $state['name']; ?></option>
								<?php  } ?>

							</select>
						</div>
						<div class="col-sm-8" style="display:none" id="otherstate">
							<input type="text" name="state" class='inputstate form-control' placeholder='State' value="<?php echo $client[0]['state']; ?>" id="state" style='display: none;' required>
							
						</div>
					</div>
 -->





						<div class="form-group">
							<label class="col-sm-3 control-label">City</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="city" id="city"
									value='{{ edit_values.city }}' placeholder="City" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Contact person name</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="contact_person_name"
									id="contact_person_name" value='{{ edit_values.contact_person_name }}'
									placeholder="Contact person name" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Contact person email id</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="contact_person_email" id="contact_person_email"
									placeholder="Contact person emailid" value='{{ edit_values.contact_person_email }}'
									required>

							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Contact person Mobile number</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="contact_person_mobileno"
									onkeypress="return /^[0-9\s]*$/.test(event.key)" maxlength='13'
									value='{{ edit_values.contact_person_mobileno }}' id="contact_person_mobileno"
									placeholder="Contact person Mobileno" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-8">
								<p align="center">
									<button type="submit" id="edit_client" class="btn btn-success">Update
										Company</button>
								</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
<script type="text/javascript">
	if (document.getElementById("client_company_name") == '') 
	{
		alert('asdfasdf');
	}














	$('#pan_no').change(function (event) {
		var regExp = /[A-Z]{5}\d{4}[a-zA-Z]{1}/;
		var txtpan = $(this).val();
		if (txtpan.length == 10) {
			if (txtpan.match(regExp)) {
				$('#add_company').attr("disabled", false);
			} else {
				swal('Warning', 'Not a valid PAN number - Format Should Be :CGNBB####S', 'warning')
				event.preventDefault();
				$('#pan_no').focus();
				$('#add_company').attr("disabled", true);
			}
		} else {
			swal('Warning', 'Please enter 10 digits for a valid PAN number', 'warning')
			event.preventDefault();
			$('#pan_no').focus();
			$('#add_company').attr("disabled", true);
		}
	});

	$('#country').on('change', function () {
		var country = this.value;

		if (country == 0) {
			$('#otherstate').css('display', 'block');
			$('#indiastate ').css('display', 'none');
		} else {
			$('#otherstate').hide();
			$('#indiastate').show();

		}

	});

	$("#registration_no").change(function (event) {
		var regExp = /[A-Z]{5}\d{4}[a-zA-Z]{7}/;
		var txtpan = $(this).val();
		if (txtpan.length == 16) {
			if (txtpan.match(regExp)) {
				$('#add_company').attr("disabled", false);
			} else {
				swal('Warning', 'Not a valid Registration number - Format Should Be :YHUPH####asputhf', 'warning')
				html: true
				event.preventDefault();
				$('#registration_no').focus();
				$('#add_company').attr("disabled", true);
			}
		} else {
			swal('Warning', 'Please enter 16 digits for a valid Registration number', 'warning')
			event.preventDefault();
			$('#registration_no').focus();
			$('#add_company').attr("disabled", true);
		}
	});
</script>